<?xml version="1.0" encoding="UTF-8"?>

<config>
	<modules>
		<SScholl_SolrCatalog>
			<version>0.0.1</version>
		</SScholl_SolrCatalog>
	</modules>
	<global>
		<blocks>
			<sschollsolrcatalog>
				<class>SScholl_SolrCatalog_Block</class>
			</sschollsolrcatalog>
			<catalog>
				<rewrite>
					<product_list>SScholl_SolrCatalog_Block_Catalog_Product_List</product_list>
					<navigation>SScholl_SolrCatalog_Block_Catalog_Navigation</navigation> 
				</rewrite>
			</catalog>
		</blocks>
		<helpers>
			<sschollsolrcatalog>
				<class>SScholl_SolrCatalog_Helper</class>
			</sschollsolrcatalog>
			<catalog>
				<rewrite>
					<product>SScholl_SolrCatalog_Helper_Catalog_Product</product>
					<product_view>SScholl_SolrCatalog_Helper_Catalog_Product_View</product_view> 
				</rewrite>
			</catalog>
			<checkout>
				<rewrite>
					<cart>SScholl_SolrCatalog_Helper_Checkout_Cart</cart>
				</rewrite>
			</checkout>
		</helpers>
		<models>
			<sschollsolrcatalog>
				<class>SScholl_SolrCatalog_Model</class>
				<resourceModel>sschollsolrcatalog_resource</resourceModel>
			</sschollsolrcatalog>
			<sschollsolrcatalog_resource>
				<class>SScholl_SolrCatalog_Model_Resource</class>
			</sschollsolrcatalog_resource>
			<catalog>
				<rewrite>
					<layer>SScholl_SolrCatalog_Model_Catalog_Layer</layer>
					<layer_filter_category>SScholl_SolrCatalog_Model_Catalog_Layer_Filter_Category</layer_filter_category>
					<layer_filter_price>SScholl_SolrCatalog_Model_Catalog_Layer_Filter_Price</layer_filter_price>
					<layer_filter_attribute>SScholl_SolrCatalog_Model_Catalog_Layer_Filter_Attribute</layer_filter_attribute>
				</rewrite>
			</catalog>
			<catalogsearch>
				<rewrite>
					<layer>SScholl_SolrCatalog_Model_CatalogSearch_Layer</layer>
					<layer_filter_attribute>SScholl_SolrCatalog_Model_CatalogSearch_Layer_Filter_Attribute</layer_filter_attribute>
				</rewrite>
			</catalogsearch>
		</models>
		<resources>
			<sschollsolrcatalog_setup>
				<setup>
					<module>SScholl_SolrCatalog</module>
					<class>Mage_Catalog_Model_Resource_Setup</class>
				</setup>
			</sschollsolrcatalog_setup>
		</resources>
	</global>
	<frontend>
		<routers>
			<catalog>
				<args>
					<modules>
						<sschollsolrcatalog before="Mage_Catalog">SScholl_SolrCatalog</sschollsolrcatalog>
					</modules>
				</args>
			</catalog>
			<catalogsearch>
				<args>
					<modules>
						<sschollsolrcatalog before="Mage_CatalogSearch">SScholl_SolrCatalog</sschollsolrcatalog>
					</modules>
				</args>
			</catalogsearch>
		</routers>
	</frontend>
	<admin>
		<routers>
			<sschollsolrcatalog>
				<use>admin</use>
				<args>
					<module>SScholl_SolrCatalog</module>
					<frontName>sschollsolrcatalog</frontName>
				</args>
			</sschollsolrcatalog>
		</routers>
	</admin>
	<adminhtml>
		<translate>
			<modules>
				<Mage_Adminhtml>
					<files>
						<default>SScholl_SolrCatalog.csv</default>
					</files>
				</Mage_Adminhtml>
			</modules>
		</translate>
		<layout>
			<updates>
				<sschollsolrcatalog>
					<file>sschollsolrcatalog.xml</file>
				</sschollsolrcatalog>
			</updates>
		</layout>
	</adminhtml>
</config>